In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/test_reviews.csv')
df

                                                 review  voted_up
0     While it does feel like they needed a bit more...      True
1     Game is asbolutely good. The Night City is som...      True
2                       This game has a JoJo reference.      True
3     Cheers everyone, after 8 years we finally made...      True
4     made my penis to perfection in a call with fri...      True
...                                                 ...       ...
1995  The game doesn't bring anything new to the tab...     False
1996  pp go smol ( ͡° ͜ʖ ͡°)\n\npp go big (˵ ͡☉ ͜ʖ ͡...      True
1997  Great characters, nice city, thrilling storyli...      True
1998  So here is my review after all of this time.\n...      True
1999  Here's the headline: If you enjoy Far Cry, Tom...      True

[2000 rows x 2 columns]